.main {
  text-align: center;
  margin-top: 10%;
  box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
  padding: 5rem;
  padding-top: 1rem;
  position: relative;
  background: white;
  border-radius: 1rem;
  padding-bottom: 1rem;
}
.form {
  margin-top: 4rem;
}
.title {
  color: #5c5c5c;
  font-size: 2.2em !important;
  margin-bottom: 1rem !important;
  font-weight: 500 !important;
}
.description {
  color: #5c5c5c;
  font-size: 1em !important;
  margin-bottom: 2rem !important;
}
.points {
  font-size: 0.9em;
  text-align: left;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
  background: whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}
.points .point {
  list-style: none;
  display: flex;
}
.points .point .number {
  padding: 0.4rem;
  background: white;
  border-radius: 50%;
  width: 2rem;
  height: 1.8rem;
  font-size: 1.1em;
  margin-right: 0.5rem;
  box-shadow: 0 2px 5px 0 #e5e5e5, 0 8px 40px 0 rgb(10 14 29 / 6%);
  text-align: center;
}
.shortenedUrl {
  margin-top: 2rem;
}
.button {
  width: 100px;
  height: 50px;
  width: auto;
  /* border-radius: 50% !important; */
}
.button:hover {
  background: #d43071;
}
.arrowContainer {
  margin: 1rem 1rem;
}
.logo {
  height: auto;
  max-width: 7rem;
  position: absolute;
  top: -2rem;
  left: -2rem;
  transform: rotate(320deg);
  transition-duration: 0.8s;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
}
.logo:hover {
  transform: rotate(360deg);
  transition-duration: 0.8s;
}
.footer {
  margin-top: 3rem;
  color: #5c5c5c;
}
.footer p {
  font-size: 0.9em;
}

.messageNumberInput {
  margin-top: 1rem !important;
}

.copyButton {
  font-size: 0.9em !important;
}

@media only screen and (max-width: 600px) {
  .main {
    width: 90% !important;
  }
  .logo {
    max-width: 5rem;
    top: -1rem;
    left: -1rem;
  }
  .points {
    font-size: 0.8em;
  }
  .mobileNumberInput label {
    font-size: 0.8em;
  }
}

.about {
  margin: 2rem;
  color: rgb(68, 68, 68);
}
.about h1,
.about h2,
.about h3 {
  margin: 0 0 0.35em;
}
.about p {
  font-size: 1.2em;
}
.about h1 {
  font-size: 50px;
}
.about h2 {
  font-size: 28px;
}
.about h3 {
  font-size: 20px;
}
.about p {
  margin: 0 0 1.15em;
}
.about p + .about h2 {
  margin-top: 1.5em;
}
.about .container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
}
.about header {
  background-color: rebeccapurple;
  color: #fff;
}

.about pre {
  color: rgb(112, 112, 112);
  background: #f1f1f1;
  margin-left: 0;
  margin-right: 0;
  padding: 1em;
  border-radius: 4px;
  width: auto;
  font-family: monospace;
}
.about pre a {
  white-space: pre-wrap;
}
